<aside class="sidebar">
  <div class="logo">
    <i class="ti ti-cpu"></i>
    <span>SIPE</span>
  </div>

  <div class="menu">
    <a href="#" class="item active">
      <i class="ti ti-layout-dashboard"></i>
      <span>Dashboard</span>
    </a>
    <a href="#" class="item">
      <i class="ti ti-file-text"></i>
      <span>Planejamentos</span>
    </a>
    <a href="#" class="item">
      <i class="ti ti-clipboard-list"></i>
      <span>Avaliações</span>
    </a>
    <a href="#" class="item">
      <i class="ti ti-books"></i>
      <span>Biblioteca</span>
    </a>
    <a href="#" class="item">
      <i class="ti ti-message-heart"></i>
      <span>Feedback Coordenação</span>
    </a>
  </div>

  <div class="footer">
    <a href="#" class="item">
      <i class="ti ti-settings"></i>
      <span>Configurações</span>
    </a>
    <a href="#" class="item">
      <i class="ti ti-headset"></i>
      <span>Suporte</span>
    </a>
  </div>
</aside>
