.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: var(--sidebar-w);
  height: 100%;
  background: var(--navy-blue);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 24px;
    border-bottom: 1px solid var(--muted);
    color: var(--white);
    font-size: var(--larger-text-size);
    font-weight: bold;

    i {
      color: var(--orange);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 20px 12px;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    border-radius: var(--radius);
    color: var(--cotton);
    text-decoration: none;
    transition: all 0.2s;

    i {
      margin-right: 14px;
      font-size: var(--larger-text-size)
    }
  }

  .item:active {
    background: var(--dark-green);
    color: var(--white);
  }

  .item:hover,
  .item.active {
    background: var(--muted);
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-top: 1px solid var(--muted);
  }
}

.sidebar:hover {
  width: calc(var(--sidebar-w) + 30px);
}
